@keyframes blink {
  50% { opacity: 0; }
}

@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff2);
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'OngleipParkDahyeon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff2);
    font-weight: 400;
    font-display: swap;
}



:root {
  --color-bg: #f1e4d2;
  --color-text: #1e3a5f;
  --color-untyped: #6f8cdc;
  --color-correct: #000000;
  --color-incorrect: #d7c7ba;
  --color-composing: #001a47;
  --color-cursor: #000000;
  --font-body: "MaruBuri";
}

* {
  background-color: var(--color-bg);
  font-family: var(--font-body);
  color: var(--color-text);
}

#mainBody {
  padding: 20px;
  margin: 50px;
}

.bookText {
  font-size: 3rem;
  text-align: center;
}

.verseNum {
  font-size: 1.5rem;
}

.bibText {
  font-size: 2rem;
  word-break: keep-all;
}
